body {
   background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
}

.card {
    margin: 10px;

}

.btn-secondary:hover {
    background-color: rgb(252, 42, 77);
    border-color: transparent;

}

.navbar-brand {
    font-family: montserrat;
    font-size: 2em;
    font-weight: 300;
    color: blueviolet;

}

.btn-outline-success:hover {
    background-color: rgb(252, 42, 77);
    border-color: transparent;

}

button.btn-outline-secondary:hover {
    background-color: rgba(19, 126, 9, 0.658);
}